﻿table.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc;
}

div.new-cat{
    margin-top:30px;
    position:relative;
}

span.ajax-text{
    display:none;
}
 