﻿@model IEnumerable<ShoppingCartProject.Models.ViewModel.Shop.CategoryVM>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<div class="new-cat">
    <input type="text" id="newcatname" />
    <p>
        <a href="#" id="newcata">Add a new category</a>
        <span class="ajax-text">
            <img src="~/Content/img/ajax-loader.gif" />
        </span>
    </p>
</div>

@if (!Model.Any())
{
    <h1 class="text-center">There are no categories.</h1>
}
else
{
    <table class="table sorting categories" id="pages">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="ajaxdivtd"></div><div class="ajaxdivtd"></div>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>

                <td>

                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@section Scripts{

    <script>
        $(function () {
            var newCatA = $("a#newcata");
            var newCatTextInput = $("#newcatname");
            var ajaxText = $("span.ajax-text");
            var table = $("table#pages tbody");

            newCatTextInput.keyup(function (e) {
                if (e.keyCode == 13) {
                    newCatA.click();
                }
            });

            newCatA.click(function (e) {
                e.preventDefault();
                var catName = newCatTextInput.val();
                if (catName.length < 2) {
                    alert("Should be greater than 2");
                    return false;
                }
                ajaxText.show();
                var url = "/admin/shop/AddNewCategory";

                $.post(url, { catName: catName }, function (data) {
                    var response = data.trim();

                    if (response == "titletaken") {
                        ajaxText.html("<span class='alert alert-danger'>Title already taken!</span>");
                        setTimeout(function () {
                            ajaxText.fadeOut("fast", function () {
                                ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                            })
                        }, 2000);
                        return false;
                    } else {
                        if (!table.length) {
                            location.reload();
                        } else {
                            ajaxText.html("<span class='alert alert-success'>Category has been added</span>");
                            setTimeout(function () {
                                ajaxText.fadeOut("fast", function () {
                                    ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                                });
                            }, 2000);
                            newCatTextInput.val("");
                            var toAppend = $("table#pages tbody tr:last").clone();
                            toAppend.append("id", "id_" + data);
                            toAppend.find("#item_Name").val(catName);
                            toAppend.find("a.delete").attr("href", "/admin/shop/DeleteCategory/" + data);
                            table.append(toAppend);
                            table.sortable("refresh");
                        }
                    }
                });

            });
            $("body").on("click", "a.delete", function () {
                if(!confirm("Do you want to delete category")){
                    return false;
                }
            });
            var oldValue;
            $("table#pages input.text-box").dblclick(function () {
                oldValue = $(this).val();
                $(this).attr("readonly", false);
            });

            $("table#pages input.text-box").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).blur();
                }
            });
            $("table#pages input.text-box").blur(function () {
                var $this = $(this);
                var ajaxDiv = $this.parent().find(".ajaxdivtd");
                var newCatName = $this.val();
                var id = $this.parent().parent().attr("id").substring(3);
                var url = "/admin/shop/RenameCategory";
                
                if (newCatName.length < 2) {
                    alert("name should be greater than 3");
                    $this.attr("readonly", true);
                    return false;
                }

                var renameObj = {
                    newCatName: newCatName,
                    id: id
                }

                $.post(url, renameObj, function (response) {
                    var res = response.trim();
                    if (res == "taken") {
                        $this.val(oldValue);
                        $(this).attr("readonly", true);
                        ajaxDiv.html("<span class='alert alert-danger'>Title already taken</span>").show();
                    } else {
                        ajaxDiv.html("<span class='alert alert-success'>Renamed done</span>").show();
                    }
                    
                    setTimeout(function () {
                        ajaxDiv.fadeOut("fast", () => {
                            ajaxDiv.html("")
                        })
                    }, 2000)
                }).done(function () {
                    $this.attr("readonly", true);
                })
            })

        })
    </script>    
    
}