﻿@model IEnumerable<ShoppingCartProject.Models.ViewModel.PagesVM>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

<p>
    @Html.ActionLink("Add New Page", "AddPage")
</p>

@if (!Model.Any())
{
    <h1 class="text-center">No pages are there</h1>
}
else
{
    <table class="table sorting" id="pages">
        <tr>
            <th>
                Title
            </th>
            <th>
                Slug
            </th>

            <th>
                Sidebar
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="@item.Id" class="@item.Slug">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasSidebar)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPage", new { id = item.Id }) |
                    @Html.ActionLink("Details", "PageDetails", new { id = item.Id }) |
                    @if (item.Slug != "home")
                    {
                        @Html.ActionLink("Delete", "DeletePage", new { id = item.Id }, new { @class="delete"})
                    }
                </td>
            </tr>
        }

    </table>

}

@section Scripts{
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("a.delete").click(function () {
                if (!confirm("Delete this page")) {
                    return false;
                }
            });

            $("table#pages tbody").sortable({
                items:"tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    console.log(ids);

                    var url = "/Admin/Pages/ReorderPages";
                    $.post(url,ids,function(data){

                    })
                }
            })
           
        })
    </script>
    
}

