﻿@model ShoppingCartProject.Models.ViewModel.PagesVM

@{
    ViewBag.Title = "PageDetails";
}

<h2>PageDetails</h2>

<div>
    <h4>PagesVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sorting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sorting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasSidebar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasSidebar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Pages", "Index")
</p>
